@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");



body {
  font-family: "Poor Story", system-ui;
  /* background-color: #b0ddf7; */
  background-image: linear-gradient(90deg, #b0ddf7 35%, #002f52 165%);
}

header {
  padding: 40px 20px;
}

.contents__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
  padding: 2%;
  height: 90vh;
}

#textocode {
  background-color: transparent;
  border: transparent;
  font-size: 36px;
  word-wrap: break-word;
  word-break: break-all;
  width: 40vw;
  height: 30vh;
  &::placeholder {
    border: transparent;
    color: #000000;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

.painel__resultado {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: 2%;
  width: 20vw;
  height: 90vh;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  word-wrap: break-word;
}

.simbolo__alura {
  justify-content: left;
  margin-top: 2%;
  margin-left: 4%;
}

.action__buttons {
  background-color: whitesmoke;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px 30px;
}

#btn3 {
  visibility: hidden;
}

h1 {
  font-size: 36px;
}

#textocriptografado {
  color: #000000;
  font-size: 24px;
}
